#about_me{
    width: 100%;
    margin: auto;
    padding: 10vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh 5vw;
    box-shadow: 0 0px 10px 0px #d3d3d3;
    background: var(--main-cream-background);
}







#about_me .quote_container{
    width: 100%;
    flex-grow: 1;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    position: relative;
}




#about_me .quote_container .app_icon.quote{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 6em;
}

#about_me .quote_container .app_icon.quote path{
    fill: silver;
    stroke: none;
}



#about_me .quote_container .text_container{
    width: 100%;
    margin: auto;
}


#about_me .quote_container .text_container .content{
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    color: #919191;
    line-height: 2em;
    margin-top: 2em;
}






#about_me .quote_container .sub_image_container{
    width: 100%;
    aspect-ratio: 10/3;
    overflow: hidden;
    border-radius: 2em;
}


#about_me .quote_container .sub_image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

















#about_me .about_container{
    width: 100%;
    flex-grow: 1;
    max-width: 50em;
    padding: min(3em, 5vw);
    border-radius: 1em;
    background: var(--sub-cream-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}



#about_me .about_container>.title_container{
    width: max-content;
    max-width: 100%;
    margin-left: auto;
}


#about_me .about_container>.title_container .title{
    font-size: 2.5em;
    font-weight: 200;
    text-align: left;
}


#about_me .about_container .text_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
    font-weight: 300;
}




#about_me .about_container .text_container .method_list{
    display: none;
}

#about_me .about_container .text_container .method_list li{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}


#about_me .about_container .text_container .method_list li .app_icon{
    fill: white;
    min-width: 1.5em;
    padding-top: 0.1em;
}


















@media screen and (min-width: 600px) {

    #about_me .quote_container .sub_image_container {
        aspect-ratio: 10 / 2;
    }

}







@media screen and (min-width: 1200px){


    #about_me{
        flex-direction: row;
    }


    #about_me .quote_container{
        align-self: stretch;
    }



    #about_me .about_container{
        align-self: stretch;
    }



    #about_me .about_container .text_container .method_list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5em;
    }

}
