#profile_image_container{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 0;
}


#profile_image_container img{
    width: 100%;
    max-width: 30em;
}
