/*-------------------------------------------------------------------------------------------------------------------
TOP BANNER SECTION
-------------------------------------------------------------------------------------------------------------------*/

#page_content.homepage section.top_banner_container{
    padding-top: 9em;
    background: #f7f2ea;
}


#page_content.homepage section.top_banner_container .top_banner{
    width: 100%;
    height: 55em;
    background: #f7f2ea;
    position: relative;
    margin-bottom: 200em;
}






#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant,
#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .middle_part,
#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter,
#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .fixed_text{
    font-size: 3.5em;
}








#page_content.homepage section.top_banner_container .top_banner .title_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
    width: max-content;
    max-width: calc(100% - 3vw);
    position: absolute;
    top: 0;
    left: 3vw;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .main_title{
    font-family: "TT Nooks", sans-serif;
    font-weight: 200;
    font-size: 4.5em;
    max-width: 7em;
    line-height: 1em;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container *{
    font-family:"American Favorite", sans-serif;
}







#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part{
    perspective: 200px;
    width: 6em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant{
    display: inline-block;
    transform-origin: center center;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant_1{
    transform: translate(-50%, -50%) rotateX(0deg);
    animation: 2s animateMorphSubTitleFirstPart_1 ease-in-out infinite;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant_2{
    transform: translate(-50%, -50%) rotateX(-180deg);
    animation: 2s animateMorphSubTitleFirstPart_2 ease-in-out infinite;
}

@keyframes animateMorphSubTitleFirstPart_1 {
    0%{
        transform: translate(-50%, -50%) rotateX(0);
        opacity: 1;
    }
    25%{
        transform: translate(-50%, -50%) rotateX(0);
        opacity: 1;
    }
    50%{
        transform: translate(-50%, -50%) rotateX(180deg);
        opacity: 0;
    }
    75%{
        transform: translate(-50%, -50%) rotateX(180deg);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%) rotateX(360deg);
        opacity: 1;
    }
}

@keyframes animateMorphSubTitleFirstPart_2 {
    0%{
        transform: translate(-50%, -50%) rotateX(-180deg);
        opacity: 0;
    }
    25%{
        transform: translate(-50%, -50%) rotateX(-180deg);
        opacity: 0;
    }
    50%{
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
    75%{
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -50%) rotateX(180deg);
        opacity: 0;
    }
}





#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .middle_part{
    margin-left: 0.95em;
    margin-right: 0.2em;
}




#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter{
    position: relative;
    width: 0.8em;
    height: 1em;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter .variant{
    position: absolute;
    top: 50%;
    left: 50%;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter .variant_1{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    animation: 2s animateMorphSubTitleThirdPart_1 ease-in-out infinite;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter .variant_2{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    animation: 2s animateMorphSubTitleThirdPart_2 ease-in-out infinite;
}

@keyframes animateMorphSubTitleThirdPart_1 {
    0%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    25%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    75%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes animateMorphSubTitleThirdPart_2 {
    0%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    25%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    75%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}






#page_content.homepage section.top_banner_container .top_banner .title_container .cta.contact{
    padding: 0.5em 0;
    font-size: 1.2em;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    color: var(--main-title-color);
    border-bottom: 1px solid;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .cta.contact .app_icon{
    min-width: 1.75em;
    margin-bottom: -0.2em;
    fill: var(--main-title-color);
    margin-left: -0.5em;
    transition: 0.25s margin-left;
}

#page_content.homepage section.top_banner_container .top_banner .title_container .cta.contact:hover .app_icon{
    margin-left: 0.5em;
}







#page_content.homepage section.top_banner_container .top_banner .image_container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    max-width: 48em;
    min-width: 30em;
    overflow: hidden;
}

#page_content.homepage section.top_banner_container .top_banner .image_container img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}














@media screen and (min-width: 680px) {

    #page_content.homepage section.top_banner_container .top_banner{
        height: 50em;
    }


    #page_content.homepage section.top_banner_container .top_banner .title_container{
        top: 2em;
    }

    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .middle_part,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .fixed_text{
        font-size: 4.5em;
    }


    #page_content.homepage section.top_banner_container .top_banner .title_container .main_title{
        font-size: 5.5em;
    }


    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part{
        width: 7em;
    }




    #page_content.homepage section.top_banner_container .top_banner .title_container .cta.contact{
        margin-top: 8em;
    }

}



@media screen and (min-width: 1000px) {

    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .first_part .variant,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .middle_part,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .variant_letter,
    #page_content.homepage section.top_banner_container .top_banner .title_container .morph_sub_title_container .third_part .fixed_text{
        font-size: 5em;
    }


    #page_content.homepage section.top_banner_container .top_banner .title_container .main_title{
        font-size: 7em;
    }


}




@media screen and (min-width: 1580px) {

    #page_content.homepage section.top_banner_container .top_banner .title_container .main_title{
        max-width: 10em;
    }

}
