#main_header{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f7f2ea;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.25s background;
}

#main_header:not(.appear):not(.blue){
    transform: translateY(-100%);
}

#main_header.transition{
    transition: 0.5s transform ease-in-out, 0.25s background;
}

#main_header.appear{
    transform: translateY(0%);
}


#main_header.blue{
    background: #f3f6ff;
}


#main_header .header_container{
    width: 100%;
    max-width: 120em;
    min-height: 9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    position: relative;
}


#main_header .header_logo-name{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_header .header_logo-name .logo_container{
    width: 7em;
    height: 7em;
    overflow: hidden;
}

#main_header .header_logo-name .logo_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#main_header .header_logo-name .enterprise_name{
    font-size: 2em;
    font-family: 'ephesis', serif;
}








#main_header .burger_container{
    margin-right: 0;
    margin-left: auto;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    position: relative;
    /*background: #FFB24D;*/
    border-radius: 50%;
    cursor: pointer;
}

#main_header .burger_container::before,
#main_header .burger_container .burger_center_line,
#main_header .burger_container::after{
    height: 2px;
    background: #5b5b5b;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
}



#main_header .burger_container::before{
    content: "";
    width: 70%;
    top: 30%;
    transition: 0.25s transform, 0.25s top;
}

#main_header .burger_container.open::before{
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}



#main_header .burger_container .burger_center_line{
    width: 50%;
    top: 50%;
}

#main_header .burger_container.open .burger_center_line{
    opacity: 0;
}



#main_header .burger_container::after{
    content: "";
    width: 70%;
    top: 70%;
    transition: 0.25s transform, 0.25s top;
}

#main_header .burger_container.open::after{
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}







#main_navbar{
    position: fixed;
    z-index: 10;
    top: 9em;
    right: 0;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    background: #f3f6ff;
    width: 100%;
    max-width: 100%;
    padding: 5em 2em 2em;
    transform: translateX(110%);
    opacity: 0;
    transition: 0.25s opacity, 0.25s 0.25s transform;
}


#main_navbar.open{
    transform: translateX(0);
    opacity: 1;
    transition: 0.25s opacity, 0s transform;
}



#main_navbar .navbar_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    transform: translateY(20em);
    opacity: 0;
    transition: 0.5s 0.25s transform, 0.5s 0.25s opacity;
}

#main_navbar.open .navbar_links{
    opacity: 1;
    transform: translateY(0);
}




#main_navbar .navbar_links .link a{
    padding: 0.5em 0;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Lagu', sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#main_navbar .navbar_links .link.contact a{
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid var(--main-title-color);
    color: var(--main-title-color);
    transition: 0.25s background;
}

#main_navbar .navbar_links .link.contact a:hover {
    background: var(--main-title-color);
    color: white;
}


#main_navbar .navbar_links .link a .app_icon{
    min-width: 1.1em;
    fill: #676767;
}



#main_navbar .navbar_links .link .sub_line{
    width: 100%;
    max-width: 0%;
    height: 1px;
    background: #4f4f4f;
    transition: 0.25s max-width;
    border-radius: 2em;
}

#main_navbar .navbar_links .link a:hover ~ .sub_line{
    max-width: 100%;
}











@media screen and (min-width: 800px){

    #main_header .header_logo-name .logo_container{
        width: 22em;
        height: 7em;
        overflow: hidden;
    }

}




@media screen and (min-width: 1000px) {

    #main_header .header_logo-name{
        left: calc(50% - 2em);
    }

    #main_header .burger_container{
        display: none;
    }

    #main_navbar{
        margin-right: 0;
        position: absolute;
        top: initial;
        right: initial;
        height: initial;
        overflow: visible;
        background: transparent;
        width: 100%;
        max-width: 100%;
        padding: 0 2em;
        box-shadow: none;
        transform: translateX(0);
        opacity: 1;
    }

    #main_navbar .navbar_links{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        opacity: 1;
        transform: translateY(0);
    }

    #main_navbar .navbar_links .link.home{
        margin-right: auto;
    }

}
