/**-------------------------------------------------------------------------------------------------------------------
RESET DEFAULT CSS
-------------------------------------------------------------------------------------------------------------------**/



*{
    font-family: 'literata', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    width: 100%;
    margin: 0;
}


a{
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}

b{
    font-weight: 500;
}


button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 1em;
    display: block;
}


table{
    border-collapse: collapse;
}


li{
    list-style: none;
}
