#ressources{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 5vw;
    /*background: radial-gradient(#ae9c8c, #4b3824);*/
    background: var(--main-cream-background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






#ressources .section_content{
    width: 100%;
    max-width: 120em;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 5vh 5vw;
}



#ressources .text_container{
    flex-grow: 1;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#ressources .text_container .content_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
    opacity: 0;
    transform: translateX(10em);
    transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
}

#ressources .text_container.appear .content_container{
    opacity: 1;
    transform: translateX(0);
}


#ressources .text_container .content_container>.title{
    font-size: min(5em, 10vw);
    font-weight: 100;
}

#ressources .text_container .content_container .content{
    font-size: min(1.15em, 3.75vw);
    line-height: 2em;
    font-weight: 300;
    text-align: justify;
}



#ressources .text_container .cta{
    font-size: min(1.15em, 4vw);
    margin-top: 1em;
}


#ressources .text_container .cta:hover{
    color: black;
}

#ressources .text_container .cta:hover .app_icon{
    fill: black;
}










#ressources .image_container{
    flex-grow: 1;
    max-width: 50em;
    min-width: 35vw;
}


#ressources .image_container img{
    width: 100%;
    object-position: center;
    object-fit: cover;
    opacity: 0;
    transform: translateY(10em);
    transition: 0.5s opacity ease-in-out, 0.5s transform ease-in-out;
}


#ressources .image_container.appear img{
    opacity: 1;
    transform: translateY(0);
}















@media screen and (min-width: 1200px){

    #ressources .section_content{
        flex-direction: row;
    }

}
